# Port number
PORT=

# URL
# Database URL
DATABASE_URL=
# APP URL
APP_URL=
# Frontend URL
FRONTEND_URL=
# JWT

# JWT secret key
JWT_SECRET=
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30

JWT_ACTIVATION_EXPIRATION_MINUTES='activation link expirations minutes'

ADMIN_EMAIL=
ADMIN_EMAIL_TOKEN=
